@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');

body {
    font-family: Cardo sans-serif ;
    background-image: url(https://images.unsplash.com/uploads/141247613151541c06062/c15fb37d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;

}

.story {
    width:500px;
    height:300px;
    border:black hidden;
    /*border-width: thin;*/
    color:white;
    /*background-color: white;*/
    font-weight: bold;
    padding: 30px;
    line-height: 30px;
    text-shadow: 1.5px 1.5px 1.5px black;
    letter-spacing: 1px;
    font-size: 1.4em;
}

.story img {
    width:270px;
    height:270px;
    border-radius:50%;
    float:left;
    margin: 30px;
    shape-outside: circular(10px);
    
}

.story p {
    margin-top: 10px;
    padding-top: 10px;
}

.div footer {
    width:100px;
    height:100px;
    text-decoration: none;
}

.second {
    width:750px;
    height:300px;
    border:black hidden;
    color:white;
    font-weight: bold;
    padding: 30px;
    line-height: 30px;
    text-shadow: 1.5px 1.5px 1.5px black;
    letter-spacing: 1px;
    font-size: 1.2em;
    word-spacing: 5px;
}

.second img {
    width:300px;
    height:300px;
    border-radius:50%;
    float:left;
    margin: 30px;
    shape-outside: circular(10px);
    
}

.second p {
    margin-top: 10px;
    padding-top: 10px;
}

.third {
    width:750px;
    height:300px;
    border:black hidden;
    color:white;
    font-weight: bold;
    padding: 30px;
    line-height: 30px;
    text-shadow: 1.5px 1.5px 1.5px black;
    letter-spacing: 1px;
    font-size: 1.4em;
    word-spacing: 1px;
}

.third img {
    width:270px;
    height:270px;
    border-radius:50%;
    float:left;
    margin: 30px;
    shape-outside: circular(10px);
    
}

.third p {
    margin-top: 10px;
    padding-top: 10px;
}
